@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Madimi+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-madimi: "Madimi One", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-20 {
  @apply rotate-[20deg];
}

.rotate-40 {
  @apply rotate-[40deg];
}

.rotate-60 {
  @apply rotate-[60deg];
}

.rotate-80 {
  @apply rotate-[80deg];
}

.rotate-100 {
  @apply rotate-[100deg];
}

.rotate-120 {
  @apply rotate-[120deg];
}

.rotate-140 {
  @apply rotate-[140deg];
}

.rotate-160 {
  @apply rotate-[160deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}


.rotate-200 {
  @apply rotate-[200deg];
}

.rotate-220 {
  @apply rotate-[220deg];
}

.rotate-240 {
  @apply rotate-[240deg];
}

.rotate-260 {
  @apply rotate-[260deg];
}
.rotate-280 {
  @apply rotate-[280deg];
}
.rotate-300 {
  @apply rotate-[300deg];
}
.rotate-320 {
  @apply rotate-[320deg];
}
.rotate-340 {
  @apply rotate-[340deg];
}
.rotate-360 {
  @apply rotate-[360deg];
}


/* text animation */

.one{
  animation: animate 1s backwards;
  animation-delay: 1s;
}

.four{
  animation: animate 1s backwards;
  animation-delay: 2.2s;
}

.seven{
  animation: animate 1s backwards;
  animation-delay: 3.2s;
}
.eight{
  animation: animate 1s backwards;
  animation-delay: 5s;
}

@keyframes animate{
0%{
  transform: translateX(300px);
  opacity: 0;
  scale: 0.8;
}
100%{
  opacity: 1;
  scale:1;
}}